:root {
  --loading-width: 160px;
  --loading-heigth: 23px;
}

.main {
  color: black;
}
.modal-title {
  color: black;
}
.box {
  display: inline-block;
  border: solid black 4px;
  width: var(--loading-width);
  background-color: white;
}

.loading-box {
  height: var(--loading-heigth);
  width: 152px;
  background-color: blueviolet;
  /* background-color: aliceblue; */
  /* animation: loading 5s delay iteration-count direction fill-mode;; */
  animation: loading 5s;
}

#state-message {
  font-size: larger;
  font-weight: bold;
  color: rgb(109, 109, 109);
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 152px;
  }
}

#title,
#result {
  margin-top: 8px;
  margin-bottom: 10px;
}

#me {
  margin-top: 8px;
  margin-bottom: 14px;
}

.box {
  margin-top: 3px;
}
