@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
  padding: 45px 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
  background-color: black;
  text-align: center;

  background-image: linear-gradient(
      135deg,
      rgb(245, 247, 250, 0.5) 0%,
      rgb(195, 207, 226, 0.5) 100%
    ),
    url(/images/fondo.jpeg);
}
#titulo{
  font-family: 'Dancing Script', cursive;
  font-size: 9vh;
   color: #ffffff;


}
.slider-main {
  margin: 0 25%;
  width: 50%;
}
.slider-main .carousel .carousel-inner .carousel-item:before {
  content: "";
  position: absolute;
  /* background: rgba(0,0,0,0.5); */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.carousel-item {
  height: 88vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.texto {
  margin: 3% 0;
}
/** services section **/

.services {
  padding-top: 10px;
}

.services_box {
  margin-top: 30px;
  box-shadow: 0 0 38px rgba(179, 179, 179, 0.486);
  background: #fff;
  margin-bottom: 50px;
  border-radius: 5px;
}

.services_box figure {
  margin: 0;
}

.services_box .img {
  background-position: center center;
  background-size: cover;
  height: 35vw;
}

.veget {
  padding: 40px;
  border-radius: 5px 5px 0 0;
  margin-top: -5px;
  position: relative;
  /* z-index: 99999; */
  background: #fff;
  color: black;
  
}

.services_box h3 {
  color: #292928;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  padding-bottom: 20px;
}

/** end services section **/
.btn{
  background-color: rgb(231, 54, 231);
  border: violet;
  color: white;
}
@media (max-width: 575px) {
  .services_box {
    max-width: 371px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .services_box .img {
    height: 75vw;
    width: auto;
  }
  .slider-main {
    margin: 0;
    width: 100%;
  }

  #titulo{

    font-size: 7vh;
    /* color: #292928; */
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .services_box {
    max-width: 371px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .services_box .img {
    height: 75vw;
    width: auto;
  }
  .slider-main {
    margin: 5%;
    width: 90%;
  }
  #titulo{
   
    font-size: 8vh;
    /* color: #292928; */
  }
}
